.LoadingTodo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    
  }
  .LoadingTodo-text{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    
  }
 
 
  .LoadingTodo-container,
  .LoadingTodo-completeIcon,
  .LoadingTodo-deleteIcon{
    font-size: larger;
    color: white;
    background:none;
    background-size: 400% 400%;
    
    
  }
 