.TodoItem {
    background-color: #f5d5c6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    opacity: .70;
    border-radius: 8px;
    box-shadow: 0px 5px 25px rgba(229, 231, 232, 0.764);
  }
  
  .TodoItem-p {
    margin: 20px 0 24px 15px;
    width: calc(95% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }


  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #a2f010;
  }
  .Icon-check:hover {
    color: #658033;
  }
  
  
  .Icon-delete {
    position: absolute;
    top: 10px;
    right: 12px;
   
  }
  .Icon-delete:hover{
    color: rgb(255, 3, 3);


  }
  .TodoItem-edit{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
  }
  .TodoItem-edit:hover{
    color: rgb(14, 105, 223);
  }
  